 {{title}}

<br>
<br>
<br>

<h3>CSS centred child parent</h3>
<div class="parent" style="border: 2px solid black">
    <i style="color: red; border: 2px solid black" class="fa fab fa-angellist child"></i>
</div>

<br>
<br>

<app-forms-reactive-validation-examples></app-forms-reactive-validation-examples>
<br>
<br>
<br>
<br>
<br>

<app-form-validation-examples></app-form-validation-examples>

<br>
<br>
<br>
<br>
<br>

<app-binding-examples></app-binding-examples>

<br>
<br>
<br>
<br>
<br>

<app-form-examples></app-form-examples>

<br>
<br>
<br>
<br>
<br>

<app-test-ui-elements></app-test-ui-elements>