 {{title}}

<br>
<br>

<div id="flex">
    <div class="item">1</div>
    <div class="item">2</div>
    <div class="item">3</div>
</div>
<div id="flex">

    <div class="item">4</div>
    <div class="item">5</div>
    <div class="item">6</div>
</div>
<div id="flex">
    <div class="item">7</div>
    <div class="item">8</div>
    <div class="item">9</div>

</div>


<br>

<h3>CSS centred child parent</h3>
<div class="parent" style="border: 2px solid black">
    <i style="color: red; border: 2px solid black" class="fa fab fa-angellist child"></i>
</div>

<br>
<br>

<app-forms-reactive-validation-examples></app-forms-reactive-validation-examples>
<br>
<br>
<br>
<br>
<br>

<app-form-validation-examples></app-form-validation-examples>

<br>
<br>
<br>
<br>
<br>

<app-binding-examples></app-binding-examples>

<br>
<br>
<br>
<br>
<br>

<app-form-examples></app-form-examples>

<br>
<br>
<br>
<br>
<br>

<app-test-ui-elements></app-test-ui-elements>